{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <ul class="navbar-nav ml-auto">
              {% if request.session.User %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'User:logout' %}">Logout</a>
              </li>
              <li>
                  <a class="nav-text">Welcome</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href={% url 'index' %}>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'User:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'User:signup' %}">Sign Up</a>
              </li>
              {% endif %}
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="subNav">
        <div class="container">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">All</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'nike' %}">Nike</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'converse' %}">Converse</a>
              </li>
            </ul>
        </div>
    </nav>
{% block content %}

{% endblock %}
    <div class="footer">
        <div class="row">

                <p class="copyright text-muted">Create This Website 2021</p>

        </div>
    </div>
</body>

</html>
